/* ############## GERAL ############### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 290;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light2: hsl(calc(var(--hue) - 110), 14%, 97%);

  --brand-dark: hsl(var(--hue), 100%, 14%);

  --bg-light: hsl(180, 14%, 97%);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--bg-light);
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;

  /*   width: 37.5rem; */
  /*margin-right: auto;*/
  /*margin-left: auto;*/
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  text-align: center;
  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  /*border: solid 1px blue;*/
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%; /* or 24px */

  color: var(--paragraph);
}

.button {
  background: var(--primary-color);

  border: none;
  border-radius: 4rem;
  /* display: inline-block; */
  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;
  transition: background 200ms;
}

.button:hover {
  background-color: var(--brand-dark);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/* ############## CUSTOM COLORS ############### */

#services .card circle {
  fill: var(--brand-light);
}

#navigation .logo path[fill*='#00856F'],
#backToTopButton circle {
  fill: var(--primary-color);
}

button.open-menu path[stroke*='#00856F'],
#contact li path {
  stroke: var(--primary-color);
}

/* NOME CARE SEM ONSCROLL */
#navigation .logo path[fill*='#00856F'] {
  fill: var(--primary-color);
}

/* NOME CARE ONSCROLL */
#navigation.scroll .logo path[fill*='#00856F'] {
  fill: #fff;
}

/* NOME CARE ANTES E APÓS CLICAR NO MENU */
#navigation .logo path[fill*='#00856F'] {
  fill: #b4a9a9;
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
  fill: #fff;
}

#navigation.scroll button.open-menu path[stroke*='#00856F'] {
  stroke: white;
}

#navigation .wrapper button.open-menu path[stroke*='#00856F'] {
  stroke: var(--primary-color);
}

#navigation.scroll .wrapper button.open-menu path[stroke*='#00856F'] {
  stroke: #fff;
}

/* ############## NAVIGATION ############### */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;

  z-index: 100;
  width: 100vw;

  /* border: 2px solid blue; */

  /* padding: 1.6rem 2.4rem; */
}

nav.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* PLANO DE FUNDO ONSCROLL */
nav.scroll {
  background: var(--primary-color);
}

/* NOME DOCTOR ONSCROLL */
nav.scroll .logo path {
  fill: #fff;
}

/*
nav.scroll svg:nth-child(2) path {
  stroke: #fff;
}
*/

nav.scroll button path {
  stroke: #fff;
}

nav button {
  background: none;
  border: none;
  /* border: 2px solid crimson; */
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/* ############## MENU EXPANDED ############### */

/* Retira a barra lateral Scroll */
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

/* Início / Serviços / Sobre / Botão Fechar X */
.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

/* ONSCROLL */
body.menu-expanded .menu {
  /* position: fixed; */
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 390ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  /*
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
*/
}

.menu .button {
  background: #fff;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;

  /*
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  */
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: #fff;
  filter: brightness(0.9);
}

body.menu-expanded .logo {
  position: relative;
  z-index: 100;
}

body.menu-expanded button {
  position: relative;
  z-index: 100;
}

/* NOME DOCTOR AO CLICAR NO MENU */
body.menu-expanded .logo path {
  fill: #fff;
}

body.menu-expanded button path {
  stroke: white;
}

/* ############## HOME ############### */
#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
  /*border: solid 3px green;*/
}

#home::before {
  content: '';
  width: 100%; /*100vw; contém a barra lateral */
  height: calc(76% + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .button {
  margin-inline: auto;
}

/* Sejam Bem-Vindos ao Doctor Care */
strong {
  color: var(--primary-color);
}

/*
                          #home h4 {
                          }


                          #home h1 {
                          }
                          */

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
  /*border: 1px solid red;*/ /* block */
}

#home img {
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
  width: 26.4rem;
}

#home .stats {
  width: 100%;
  /* width: 32.7rem; */
  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--brand-beige);
  border: solid 1px var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
  /*  padding-top: 4rem; */
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

/* ############## SERVICES ############### */

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;
  background: white;
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem; /* em cima e embaixo */
}

/* ############## ABOUT ############### */

#about {
  /* border: 2px solid purple; */
  text-align: left;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 6rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}

/* ############## CONTACT ############### */

#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

#contact li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ############## FOOTER ############### */

footer {
  background-color: var(--primary-color);
  padding-block: 6rem;
  text-align: left;
  color: #fff;
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path {
  fill: white;
}

footer p {
  color: var(--brand-beige);
  line-height: 2;
  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;
}

/* ############## BACK TO TOP ############### */

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 3.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* ############## RESPONSIVO ############### */

@media (min-width: 102.4rem) {
  /* ############## GERAL ############### */

  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .cola {
    grid-area: A;
  }

  .colb {
    grid-area: B;
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  /* ############## NAVIGATION ############### */

  /* ############## RESET ############### */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .open-menu,
  nav#navigation .close-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;
    color: var(--primary-color);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    border: none;
    color: var(--brand-light2);
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-light2);
    /* color: #fff; */
    opacity: 0.8;
  }

  nav#navigation.scroll .menu a.button {
    border: 2px solid #fff;
    color: #fff;
  }

  nav#navigation .menu li a {
    transition: opacity 0.4s;
  }

  nav#navigation .menu li a:active,
  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: 0.2rem;
    background-color: var(--primary-color);
    display: block;

    position: relative;
    bottom: -1.3rem;
    left: -1rem;

    transition: width 0.2s;
  }

  nav#navigation.scroll .menu li a::after {
    background-color: #fff;
  }

  nav#navigation .menu li a:active::after,
  nav#navigation .menu li a:hover::after {
    background-color: var(--primary-color);
    width: 100%;
    padding-inline: 1rem;
  }

  nav#navigation.scroll .menu li a:active,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu a.button:active,
  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
  }

  /* ############## HOME ############### */

  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      'A B'
      'C C';
  }

  #home .cola {
    text-align: left;
    align-self: center;
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  #home .stats {
    grid-area: C;
    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }

  #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }

  #home .stats .stat {
    flex: 1;
  }

  #home .button {
    margin: 0;
  }

  #home img {
    width: 42rem;
  }

  /* ############## SERVICES ############### */

  #services h2 {
    width: 47rem;
    margin-inline: auto;
    /*    border: 1px solid darkgreen; */
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    /* border: 1px solid darkgreen; */
    width: 30%;
    flex-grow: 1;
  }

  /* ############## ABOUT ############### */
  /* determina a ordem dos quadros */
  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .cola {
    align-self: center;
  }

  #about .content p {
    margin-bottom: 0;
  }

  /* ############## CONTACT ############### */

  #contact .wrapper {
    /*     border: 1px solid crimson; */
    grid-template-areas: 'A B';
    grid-template-columns: 1fr 57.5rem;
  }

  #contact h2 {
    width: 40.4rem;
    /* border: 1px solid green; */
  }

  /* ############## FOOTER ############### */

  footer {
    /* border: 1px solid yellow; */

    padding-block: 8rem;
  }

  footer .wrapper {
    /* border: 1px solid crimson; */

    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .cola {
    /* border: 2px solid green; */
    align-self: center;
  }

  footer .colb {
    /* border: 1px solid white; */
    align-self: center;
    justify-self: flex-end;
  }

  footer p {
    margin-bottom: 0;
  }

  /*        
      #home{
        border: 3px solid crimson;
      }

      #services{
        border: 3px solid darkblue;
      }

      #about{
        border: 3px solid darkgreen;
      }

      #contact{
        border: 3px solid orange;
      }

      footer{
        border: 3px solid black;
      }
*/
}
